@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
.side-nav {
  position: fixed;
  height: 100%;
  width: 0px;
  max-width: 0px;
  overflow-x: hidden;
  top: 75px;
  right: 0;
  background-color: rgb(8, 8, 14);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 75px;
  align-items: center;
  /* TRANSITION TIME */
  transition: 0.5s;
}

.open-close-nav {
  width: 65vw;
  max-width: 250px;
}
