@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
.lower-menu {
  background-color: #0e0f16f7;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* 769px <---------------------- infinity */
@media (min-width: 1236px) {
  .lower-menu {
    display: none;
  }
}
