@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap");
.upload {
  height: 100%;
}
.upload-options {
  background-color: #0e0f16f7;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.upload-options-button {
  transition: 0.3s;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  width: max-content;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 30px;
  outline: none;
  border: 2px solid rgb(186, 205, 89);
  display: flex;
  justify-content: center;
  align-items: center;
  /* #dfdacb79 */
  background-color: #1a161079;
  /* #282b2d */
}

.options-icon {
  /* #edad0a*/
  color: teal;
  font-size: 1.2rem;
  margin-right: 3px;
}
.options-text {
  /* #7770a4 */
  /* #14b8c4 */
  color: #efedf7;
  font-size: 0.5rem;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
}
/* MOBILE FIRST MEAN: small media queries first */
@media (min-width: 411px) {
  .options-icon {
    font-size: 1.7rem;
  }
  .options-text {
    font-size: 0.7rem;
  }
}
.my-uploads-button {
  border-radius: 6px;
  background-color: rgb(43, 42, 46);
  border-color: rgb(205, 205, 89);
}

.my-uploads-text {
  color: turquoise;
}
