@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #0e0f16;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 5px;
  height: 75px;
}
.brand-word {
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Righteous", cursive;
  margin-left: 20px;
}
@media (max-width: 600px) {
  .brand-word {
    margin-left: 0px;
  }
}
