.lower-button {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  /* PREVENT MOBILE BUTTON HEIGHLIGHT COLOR ON CLICK */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: hover 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lower-button:hover {
  transform: translateY(-3px);
}
/* PREVENT MOBILE CLICK TO BEHAVE AS HOVER EVENT */
@media (hover: none) {
  .lower-button:hover {
    transform: none;
  }
}

.lower-button-click {
  border-radius: 500px;
  animation-name: mak;
  animation-duration: 0.7s;
}
@keyframes mak {
  0% {
    background-color: white;
  }
  100% {
    background: none;
  }
}
.button-text {
  color: #fafafb;
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
}
.button-icon {
  color: aquamarine;
  font-size: 1.8rem;
}
